/* Estilo general */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Barra superior */
.barra-principal {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    background-color: #f8f9fa;
    box-shadow: 0 1px 6px rgba(32,33,36,0.28);
}

.barra-principal a {
    margin-right: 20px;
    font-size: 14px;
    color: #5f6368;
    text-decoration: none;
}

.barra-principal a:hover {
    text-decoration: underline;
}

.icono-perfil {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

/* Contenedor del logo */
.logo {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Logo de Google */
.logo-google {
    max-width: 272px;
    height: auto;
    margin-bottom: 20px;
}

/* Barra de búsqueda */
.búsqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.búsqueda input[type="text"] {
    width: 400px;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 20px;
    font-size: 16px;
}

.búsqueda button {
    padding: 10px 20px;
    background-color: #f8f9fa;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.búsqueda button:hover {
    background-color: #e8e9ea;
}